# System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment and dependency files
.env
node_modules/
assets/vendor/sheetjs/xlsx-0.20.3.min.js
dist/
scratch/dumps/
scratch/temp_*.sql
